* { font-family: "Comfortaa", cursive; }

body {
  background-color: #1a2b34;
}

a {
  color: #6699cc;
  text-decoration: none;
}

.main {
  text-align: center;
  margin-bottom: 4em; /* Leave space for footer */
}

.logo {
  max-width: 99%;
  max-height: 99%;
}

.description {
  max-width: 30rem;
  margin: auto;
  padding: 1rem;
  color: #d1dce6; 
}

.button {
  border: none;
  color: white;
  padding: 16px 32px; 
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 8px;
  max-width: 99%;
  max-height: 99%;
}

.installation {
  background-color: #6699cc;
  color: #d1dce6;
  border: 2px solid #6699cc;
}

.installation:hover {
  background-color: #1a2b34; /* Same as page background color */
  color: #d1dce6;
  border: 2px solid #6699cc;
}

.development {
  background-color: #ec5f67;
  color: #d1dce6;
  border: 2px solid #ec5f67;
}

.development:hover {
  background-color: #1a2b34; /* Same as page background color */
  color: #d1dce6;
  border: 2px solid #ec5f67;
}

.about {
  background-color: #99c794;
  color: #d1dce6;
  border: 2px solid #99c794;
}

.about:hover {
  background-color: #1a2b34; /* Same as page background color */
  color: #d1dce6;
  border: 2px solid #99c794;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   color: #d1dce6;
   text-align: center;
   background-color: #1a2b34; /* Same as page background color */
   opacity: 0.9;
}

.heart {
  vertical-align:middle
}

#mainImg{

  

  animation: Float;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-play-state: running;
  animation-duration: 3.5s;
}

@keyframes Float{

  from{

    transform: rotateZ(-1.2deg);

  }

  to{


    transform: rotateZ(1.2deg);

  }


}
